html,
body {
  height: 100%;
  min-width: 32rem;
}

html {
  font-size: 10px;
  line-height: 1.4;
}

body {
  font-size: 1.6rem;
  font-family: 'Noto Sans';
}

.line {
  border-top: 1px solid #EAEFF5;
}

.sub__tex {
  font-size: 1.4rem;
  color: rgb(119, 119, 119);
  line-height: 1.714;
  text-align: center;
  margin-bottom: 5rem;
}
