.box {
  border-radius: 0.7rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 10px 40px 0px rgba(99, 117, 138, 0.3);
  // height: 44rem;
  padding: 3.5rem 2.5rem 4.5rem 2.5rem;
  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.box__type {
  font-size: 1.2rem;
  color: #242526;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.box__price {
  font-size: 4.8rem;
  line-height: 1;
  font-weight: 700;
  color: #242526;
  margin-bottom: 2rem;
  &:after {
    content: "c";
    font-family: 'als_rublregular';
  }
}

.box__period {
  font-size: 1.2rem;
  color: #242526;
  margin-bottom: 3.5rem;
}

.box__benefits {
  font-size: 1.4rem;
  margin-bottom: 4rem;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      margin: 0;
      padding: 0;
      margin-bottom: 1rem;
      line-height: 2rem;
      &:before {
        content: "";
        width: 12px;
        height: 12px;
        background-image: url('../img/icons/ok-icon.png');
        background-repeat: no-repeat;
        background-position: left 2px;
        margin-right: 10px;
        display: inline-block;
      }
    }
  }
}

.box__last {
  margin-bottom: 0;
}
